<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<title>FindGoods</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
		<link href="{{url_for('static', filename='css/bootstrap-responsive.min.css')}}" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="{{url_for('static', filename='css/bootstrappage.css')}}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{{url_for('static', filename='css/flexslider.css')}}" rel="stylesheet"/>
		<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet"/>
		<link href="{{url_for('static', filename='css/pagination.css')}}" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}"> <!-- https://fontawesome.com/ -->
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
		<!-- scripts -->
		<script src="{{url_for('static', filename='js/jquery-1.7.2.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='js/superfish.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.scrolltotop.js')}}"></script>
		<script src="{{url_for('static', filename='js/pagination.js')}}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{{url_for('static', filename='js/respond.min.js')}}"></script>
		<![endif]-->
		<title>直角分頁頁碼</title>
		<style type="text/css">

			/*設定 a 標籤的css樣式*/
			.page-normal a{
				border: 1px solid #ff6500;
				padding: 5px 7px;
				color: #ff6500;
				margin-left: 20px;/*設定標籤 a 之間的間隔*/
				text-decoration: none;/*去除頁碼數字下面的下劃線*/
			}
			/*設定滑鼠經過時 a 標籤的css樣式*/
			.page-normal a:hover{
				background-color: #ffbe94;
			}

			/*設定整個div的css樣式,該樣式主要用於設定網頁內的省略號 …… 的樣式，並且同時設定內容居中顯示*/
			.page-normal{
				color: #ff6500;
				text-align: center;
			}

			/*設定當前頁面的css樣式*/
			.page-normal .page-current{
				color: #ffffff;
				background-color: #ff6500;
			}

			/*設定左單括號 < 的css樣式*/
			.page-normal .page-prev{
				color: #ffe3c6;
			}

			/*進行程式碼優化，將不同css樣式中共有的屬性放在一起，有助於提高執行效率*/
			.page-normal a, .page-normal a:hover, .page-normal .page-prev, .page-normal .page-current{
				border: 1px solid #ff6500;
				padding: 5px 7px;
			}
		</style>
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4"></div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">
							{% if current_user.is_authenticated %}
								<li><a><font color="#eb4800">Hi {{ username }}!</font></a></li>
							{% endif %}
							<li><a href="{{ url_for('.myaccount') }}">My Account</a></li>
							{% if current_user.is_authenticated %}
								<li><a href="{{ url_for('.logout') }}">Logout</a></li>
							{% else %}
								<li><a href="{{ url_for('.register') }}">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<a href="{{ url_for('.index') }}" class="logo pull-left"><font face="fantasy" size="6"><strong>FindGoods</strong></font></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a>Category</a>
								<ul>
									<li><a href="/products/frame">Frames</a></li>
									<li><a href="/products/lamps">Lamps</a></li>
									<li><a href="/products/vasesbowl">Vases</a></li>
									<li><a href="/products/desk">Desks</a></li>
									<li><a href="/products/mugs">Mugs</a></li>
									<li><a href="/products/footstool">Footstools</a></li>
									<li><a href="/products/Cushion">Cushions</a></li>
								</ul>
							</li>
							<li><a href="{{ url_for('.search') }}">Photo to Search</a></li>
							<li><a href="{{ url_for('.trend') }}">Popular trending</a></li>
							<li><a href="{{ url_for('.about') }}">About us</a></li>
						</ul>
					</nav>
				</div>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span6">
						<img src="{{userselect[0][3]}}">
					</div>
					<div class="span6">
						<h1 class="title"><font color="#eb4800">Item</font> Content</h1>
						<h2 class="itemname"><font face="Courgette" size="5">品名: {{userselect[0][2]}}</font></h2>
						<h2 class="category"><font face="Courgette" color="black" size="5">分類: {{userselect[0][-1]}}</font></h2>
						<h2 class="price"><font face="fantasy" size="6">NT${{userselect[0][5]}}</font></h2>
						<h2><a href="{{userselect[0][4]}}">按此至商品購物頁面</a></h2>
					</div>
				</div>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">													
						<div class="row">
							<div class="span12">
								<h4 class="title">
									<span class="pull-left"><span class="text"><span class="line">Related <strong>Products</strong></span></span></span>
								</h4>
								<div id="myCarousel" class="myCarousel carousel slide">
									<div class="carousel-inner">
										<div class="active item">
											<ul class="thumbnails">
<!--												插入迴圈-->
												{% for i in dataInfo_push[0:4] %}
													<li class="span3">
														<div class="product-box">
															<span class="sale_tag"></span>
															<p><a href="/recommend/{{i[-1]}}"><img src="{{i[1]}}" alt="" /></a></p>
															<p class="itemname"><font face="Courgette" size="1">{{i[0]}}</font></p><br/>
															<a href="products.html" class="category"> {{i[6]}}</a>
															<p class="price"><font face="fantasy" size="3">NT${{i[3]}}</font></p>
														</div>
													</li>
												{% endfor %}
											</ul>
										</div>
									</div>							
								</div>
							</div>						
						</div>
						<br/>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span2"></div>
					<div class="span5">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="{{ url_for('.index') }}">Homepage</a></li>
							<li><a href="{{ url_for('.myaccount') }}">My Account</a></li>
							<li><a href="{{ url_for('.about') }}">About Us</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{{url_for('static', filename='img/logo.png')}}" class="site_logo" alt=""></p>
						<p>Hi! Please join us and pick your favorite items. Have fun 👊</p>
						<br/>
					</div>
				</div>
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="{{url_for('static', filename='js/common.js')}}"></script>
		<script src="{{url_for('static', filename='js/jquery.flexslider-min.js')}}"></script>
		<script type="text/javascript">
			$(function() {
				$(document).ready(function() {
					$('.flexslider').flexslider({
						animation: "fade",
						slideshowSpeed: 4000,
						animationSpeed: 600,
						controlNav: false,
						directionNav: true,
						controlsContainer: ".flex-container" // the container that holds the flexslider
					});
				});
			});
		</script>
    </body>
</html>