<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>FindGoods</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
		<!-- bootstrap -->
		<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
		<link href="{{ url_for('static', filename='css/bootstrap-responsive.min.css') }}" rel="stylesheet">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link href="{{ url_for('static', filename='css/bootstrappage.css') }}" rel="stylesheet"/>
		
		<!-- global styles -->
		<link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}"> <!-- https://fontawesome.com/ -->
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
		<!-- scripts -->
		<script src="{{ url_for('static', filename='js/jquery-1.7.2.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/superfish.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolltotop.js') }}"></script>
		<!--[if lt IE 9]>			
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
			<script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
		<![endif]-->
	</head>
    <body>		
		<div id="top-bar" class="container">
			<div class="row">
				<div class="span4">
<!--					<form method="POST" class="search_form">-->
<!--						<input type="text" class="input-block-level search-query" Placeholder="Search...">-->
<!--					</form>-->
				</div>
				<div class="span8">
					<div class="account pull-right">
						<ul class="user-menu">
							{% if current_user.is_authenticated %}
								<li><a><font color="#eb4800">Hi {{ username }}!</font></a></li>
							{% endif %}
							<li><a href="{{ url_for('.myaccount') }}">My Account</a></li>
							{% if current_user.is_authenticated %}
								<li><a href="{{ url_for('.logout') }}">Logout</a></li>
							{% else %}
								<li><a href="{{ url_for('.register') }}">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="wrapper" class="container">
			<section class="navbar main-menu">
				<div class="navbar-inner main-menu">
					<a href="{{ url_for('.index') }}" class="logo pull-left"><font face="fantasy" size="6"><strong>FindGoods</strong></font></a>
					<nav id="menu" class="pull-right">
						<ul>
							<li><a>Category</a>
								<ul>
									<li><a href="/products/frame">Frames</a></li>
									<li><a href="/products/lamps">Lamps</a></li>
									<li><a href="/products/vasesbowl">Vases</a></li>
									<li><a href="/products/desk">Desks</a></li>
									<li><a href="/products/mugs">Mugs</a></li>
									<li><a href="/products/footstool">Footstools</a></li>
									<li><a href="/products/Cushion">Cushions</a></li>
								</ul>
							</li>
							<li><a href="{{ url_for('.search') }}">Photo to Search</a></li>
							<li><a href="{{ url_for('.trend') }}">Popular trending</a></li>
							<li><a href="{{ url_for('.about') }}">About us</a></li>
						</ul>
					</nav>
				</div>
			</section>
			<section class="header_text sub">
			<img class="pageBanner" src="{{ url_for('static', filename='img/house.png') }}" alt="New products" >
				<br>
				<h1><span>{{tags.upper()}}</span></h1>
			</section>
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<ul class="thumbnails listing-products">
							{% for f in dataInfo.items %}
								<li class="span3">
									<div class="product-box">
										<span class="sale_tag"></span>
										<a href="/recommend/{{f.ITEMID}}"><img alt="" src="{{f.IMG_URL}}"></a><br/>
										{% if f.ITEMNAME|length>20 %}
										<a href="/recommend/{{f.ITEMID}}" class="title">{{f.ITEMNAME[0:19]}}</a><br/>
										{% else %}
										<a href="/recommend/{{f.ITEMID}}" class="title">{{f.ITEMNAME}}</a><br/>
										{% endif %}
										<span class="brand">{{f.PFNO}} {{f.BRAND}}</span>
										<br>
										<a class="category">{{f.CATE}}</a>
										<p class="price">NT${{f.PRICE}}</p>
									</div>
								</li>
							{% endfor %}
						</ul>
						<hr>
						<div class="pagination pagination-small pagination-centered">
							<ul class="pagination">
								{% if dataInfo.has_prev %}
									<li><a href="/products/{{tags}}?page={{dataInfo.prev_num}}">Previous</a></li>
								{% endif %}
<!--								{% if dataInfo.has_previous %}-->
<!--    								<li><a href="/products/{{tags}}?page={{dataInfo.prev_num}}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>-->
<!--								{% else %}-->
<!--									<li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>-->
<!--								{% endif %}-->
								{% for page_num in dataInfo.iter_pages() %}
    								{% if page_num %}
        								{% if page_num != dataInfo.page %}
            								<li><a href="/products/{{tags}}?page={{page_num}}">{{ page_num }}</a></li>
										{% else %}
											<li class="active"><a href="#">{{ page_num }}</a></li>
										{% endif %}
								   {% else %}
									   <li><span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span></li>
								   {% endif %}
								{% endfor %}
								{% if dataInfo.has_next %}
									<li><a href="/products/{{tags}}?page={{dataInfo.next_num}}">Next</a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</section>
			<section id="footer-bar">
				<div class="row">
					<div class="span2"></div>
					<div class="span5">
						<h4>Navigation</h4>
						<ul class="nav">
							<li><a href="{{ url_for('.index') }}">Homepage</a></li>
							<li><a href="{{ url_for('.myaccount') }}">My Account</a></li>
							<li><a href="{{ url_for('.about') }}">About Us</a></li>
						</ul>
					</div>
					<div class="span5">
						<p class="logo"><img src="{{url_for('static', filename='img/logo.png')}}" class="site_logo" alt=""></p>
						<p>Hi! Please join us and pick your favorite items. Have fun 👊</p>
						<br/>
					</div>
				</div>
			</section>
			<section id="copyright">
				<span>Copyright 2013 bootstrappage template  All right reserved.</span>
			</section>
		</div>
		<script src="{{ url_for('static', filename='js/common.js') }}"></script>
    </body>
</html>